integration.openearthview.net {
    tls contact@openearthview.net
    root /home/oev/Projects/OpenEarthView/viewer-earth-api-integration
    gzip
    log /home/oev/Projects/OpenEarthView/viewer-earth-api-integration/access.log
}
