integration.openearthview.net {
    tls contact@openearthview.net
    root /home/oev/Projects/OpenEarthView/viewer-earth-api-integration
    gzip
    log /etc/caddy/log/access_integration.openearthview.net.log
}
